# Sample workflow to access AWS resources when workflow is tied to branch
# The workflow Creates static website using aws s3
name: front deploy on AWS
on:
  push
  # tags:
  #   - front*
env:
  BUCKET_NAME: "kenmiki.com"
  AWS_REGION: "ap-northeast-1"
# permission can be added at job level or workflow level
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
jobs:
  S3PackageUpload:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
      - uses: actions/cache@v3
        id: node_modules_cache_id
        env:
          cache-name: cache-node-modules
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - name: npm install
        if: ${{ steps.node_modules_cache_id.outputs.cache-hit != 'true' }}
        run: npm ci
      - name: build
        run: cd frontend && npm run build:dev && echo ${{ github.sha }} > dist/version.txt
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::1234567890:role/example-role
          role-session-name: samplerolesession
          aws-region: ${{ env.AWS_REGION }}
      # Upload a file to AWS s3
      - name: upload to s3
        run: |
          aws s3 cp ./front/dist*/ s3://${{ env.BUCKET_NAME }}/
